<div class="border-2 p-4">
  <% comments.each do |comment| %>      
  <div class="flex items-center gap-2">
    <p> <span class="font-bold"> <%= comment.author.name %>: </span> <%= comment.text %> </p>
     <% if comment.author == current_user %>
        <%= button_to "Delete", user_post_comment_path(comment.post.author, comment.post, comment), method: :delete, class: "text-white p-1 hover:bg-red-800 bg-red-500 rounded-full" %>
      <% end %>
  </div>
  <% end %>
</div>
